.venv/
venv/
.idea
/Examples/newVersionCases/
/Examples/old_cases/
/solvers/
pyRunOF.egg-info/
build/
dist/
.coverage
.pytest_cache/
.ruff_cache/
.mypy_cache/
htmlcov/
**/__pycache__
.git
__pycache__/
solution/
examples/**/output/
*_solved/
*_in_progress/
